@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p><a class="btn btn-primary" href="/Movies/New" role="button">New Movie</a></p>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <th>Movie</th>
        <th>Gender</th>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <p>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)  </p>
                </td>
                <td>@movie.Gender.Name</td>
            </tr>
        }
    </table>
}
else
{
    <p>Não há filmes a serem exibidos.</p>
}
